NEO4J_URI=neo4j+s://dbid.databases.neo4j.io
NEO4J_USERNAME=a_username
NEO4J_PASSWORD=a_password
NEO4J_DATABASE=a_database
AURA_INSTANCEID=a_instance_id
AURA_INSTANCENAME=a_instance_name

# replace the key with the one you find here https://docs.google.com/document/d/1pOYhPvnayotkG69MRglQoAExnQa_x2XR2K9Y-rod4dU/edit?usp=sharing
OPENAI_API_KEY=your_openai_api_key_here
