# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
NEO4J_URI=neo4j+s://dbid.databases.neo4j.io
NEO4J_USERNAME=a_username
NEO4J_PASSWORD=a_password
NEO4J_DATABASE=a_database
AURA_INSTANCEID=a_instance_id
AURA_INSTANCENAME=a_instance_name
